
Symbolverzeichnis.aux
*.aux
*.gz
*.lot
*.log
01MasterArbeit.bbl
01MasterArbeit.blg
01MasterArbeit.out
*.toc
*.syc
*.lof
*.suc
Bilder/Mat_Sim/IMU_logFile_mb_android_DOOGEE-S86Pro_lib1.1.1_crcl1.1973_mcal1.2005_2022-07-06T14-17-09.631+0200_v13_DB_ID_2806.mldatx
Bilder/Mat_Sim/SIM_IMU_logFile_mb_android_samsung-SM-G973F_lib1.1.2_crcl4.0003_mcal1.2005_2022-08-11T16-16-05.665+0200_v13.mldatx
Bilder/Docu_GroundTruth_Sammlung_Davilt_20220830.mp4
*.tmp
